<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.pvoid.apteryx"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
      <activity android:name=".ui.MainActivity"
              android:label="@string/app_name">
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name=".ui.AddAccountActivity" />
      <activity android:name=".ui.Preferences" />
      <activity android:name=".ui.AccountsList" />
      <activity android:name=".ui.CommonSettings" />
      <activity android:name=".ui.FullInfo" />
      <activity android:name=".ui.SelectMainAgent" />
      <activity android:name=".ui.SelectActiveAgents" />
      <service android:name=".UpdateStatusService" android:label="@string/update_service" />
      <receiver android:name=".StatesReceiver" android:process=":remote"/>
      <receiver android:name=".OnBootReceiver" android:enabled="true" android:exported="false">
        <intent-filter>
          <action android:name="android.intent.action.BOOT_COMPLETED"/>
        </intent-filter>
      </receiver>
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" ></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" ></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4"></uses-sdk>
</manifest> 