<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2010-2011  Dmitry Petuhov
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.pvoid.apteryxaustralis"
      android:versionCode="8" android:versionName="1.0.2">
    <application android:icon="@drawable/icon"
                 android:theme="@android:style/Theme.Light"
                 android:label="@string/app_name">
     <activity android:name=".ui.MainActivity"
               android:theme="@android:style/Theme.Light.NoTitleBar"
               android:configChanges="orientation|keyboardHidden">
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name=".preference.CommonSettings"
                android:label="@string/settings"
                android:configChanges="orientation|keyboardHidden"/>
      <activity android:name=".ui.TerminalsActivity"
                android:configChanges="orientation|keyboardHidden"/>
      <activity android:name=".ui.TerminalInfoActivity"
                android:configChanges="orientation|keyboardHidden"/>

      <service android:name=".UpdateStatusService" android:label="@string/update_service" />
      <receiver android:name=".StatesReceiver" android:process=":remote"/>
      <receiver android:name=".OnBootReceiver" android:enabled="true" android:exported="false">
        <intent-filter>
          <action android:name="android.intent.action.BOOT_COMPLETED"/>
        </intent-filter>
      </receiver>

      <provider android:name=".storage.osmp.OsmpContentProvider"
                android:exported="false"
                android:authorities="org.pvoid.apteryxaustralis.storage.osmp"/>
      <provider android:name=".storage.AccountsProvider"
                android:exported="false"
                android:authorities="org.pvoid.apteryxaustralis.storage.accounts"/>
      <!--receiver android:name=".widget.InfoWidgetProvider" android:label="Agents Info">
        <intent-filter>
          <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data android:name="android.appwidget.provider"
                   android:resource="@xml/info_widget_info" />
      </receiver-->
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="13"/>
    <supports-screens android:normalScreens="true" android:anyDensity="true" android:resizeable="true" />
</manifest> 